.el-input {
    &__inner {
        height: 32px;
        line-height: 32px;
        &:focus {
            border-color: #d36b00;
        }
    }
}

.el-form-item {
    margin-bottom: 20px;
    &__content {
        line-height: 32px;
    }
    &__label {
        line-height: 14px;
        margin-bottom: 5px;
    }
}

//el-button
.el-button {
    height: 32px;
    display: flex;
    align-items: center;
    &--primary {
        color: #fff;
        background-image: linear-gradient(to bottom, #444444, #d36b00);
        background-color: #d36b00;
        border-color: #d36b00;
        &:hover, &:active, &:focus {
            color: #fff;
            background-color: #d36b00;
            border-color: #d36b00;
        }
    }
}
.dialog-footer {
    display: flex;
    justify-content: flex-end;
}
.el-pager {
    margin: 0 3px;
    li {
        margin: 0 3px;
    }
}
.el-drawer {
    width: 60% !important;
    &__header {
        font-size: 16px;
        font-weight: 600;
        color: #000;
        margin-bottom: 0px;
    }
    &__wrapper{
        z-index: 3000 !important;
    }
}
.el-loading-mask.is-fullscreen {
    z-index: 3001 !important;
}
.el-notification {
    z-index: 3002 !important;
}
.v-modal {
    z-index: 100 !important;
}